/* ==========================================================================
   Author's custom styles
   ========================================================================== */

@import "../../node_modules/bulma/bulma.sass";
@import "../../node_modules/bulma-helpers/css/bulma-helpers.min.css";

.padding-top-8 {
  padding-top: 8px;
}

li + li {
  padding-top: 6px;
}

.text-justify {
  text-align: justify;
}

@media (max-width: 769px) {
  :root {
    font-size: 90%;
  }
}
