{% extends "_layout.njk" %}

{% block title %}
  <title>{{ site.title }}</title>
  <meta name="description" content="{{ site.description }}">
{% endblock %}

{% block content %}
  <main id="page-content">

    <section class="section">
      <div class="container">

        <div class="columns">
          <div class="column is-full has-margin-bottom-20">
            <h3 class="title is-size-4">Embark on a quest to learn game development.</h3>
            <p class="is-size-5">Follow along with the guides and have a look at the source code. Progress from knowing nothing at all to publishing a full game as an indie dev hero.</p>
          </div>
        </div>

        <div class="columns">
          <div class="column is-full">
            <h3 class="title is-size-4">Where do I start?</h3>
          </div>
        </div>
        <div class="columns">
          <div class="column is-two-thirds text-justify">
            <p>Start small. Learn basic game development techniques and concepts by building very small manageable games. Each game project will build on top of the previous concept, reinforcing your knowledge and understanding of game development techniques.</p>
            <p class="padding-top-8">
              <span class="has-text-weight-semibold">Don't know any programming language?</span>
              This is a great opportunity to learn. Pick a language, anyone. Ruby, Python or JavaScript are mosty recomended to start with. You will also encounter C# (C Sharp), C++, Haxe and Lua within the game programming world.
            </p>
          </div>
          <aside class="column notification">
            <h4 class="title is-size-5">Extra reading</h4>
            <ul>
              <li>
                <i class="fas fa-cube"></i>
                <a target="_blank" title="Games you should make when just starting out, in chronological order" href="https://www.gamefromscratch.com/post/2013/08/01/Just-starting-out-what-games-should-I-make.aspx">Just starting out, what games should I make?</a>
              </li>
              <li>
                <i class="fas fa-cube"></i>
                <a target="_blank" title="A Path to Game Development" href="https://www.gamedev.net/articles/programming/general-and-gameplay-programming/how-do-i-make-games-a-path-to-game-development-r892/">How do I make games? A Path to Game Development</a>
              </li>
              <li>
                <i class="fas fa-cube"></i>
                <a target="_blank" title="Your First Step to Game Development Starts Here" href="https://www.gamedev.net/articles/programming/general-and-gameplay-programming/your-first-step-to-game-development-starts-here-r2976">Your First Step to Game Development Starts Here</a>
              </li>
              <li>
                <i class="fas fa-cube"></i>
                <a target="_blank" title="Game Dev 101: How to Finish Your Game" href="https://www.buildbox.com/game-dev-101-how-to-finish-your-game/">Game Dev 101: How to Finish Your Game</a>
              </li>
            </ul>
          </aside>
        </div>

        <div class="columns">
          <div class="column">
            <h3 class="title is-size-4">Warning for the eager Knight-errant</h3>
          </div>
        </div>
        <div class="columns">
          <div class="column is-two-thirds text-justify">
            <p>
              The difficulty of each project will change depending on whether you use a game framework or a game engine. For example, building a clone of the game Pong from scratch in a programming language, is much more intimidating than to use for example the Construct 2 game engine (which will only take about 10 minutes to create).
            </p>
            <p class="padding-top-8">
              On our quest for game dev we will explore game frameworks as well as game engines. The main quest is to complete each project progressively using only one framework. Side quests will include developing the same game in different languages, frameworks and engines.
            </p>
          </div>
          <aside class="column notification">
            <h4 class="title is-size-5">Equip yourself</h4>
            <ul>
              <li>
                <i class="fas fa-cube"></i>
                <a target="_blank" title="GameDev Glossary: Library Vs Framework Vs Engine" href="https://www.gamefromscratch.com/post/2015/06/13/GameDev-Glossary-Library-Vs-Framework-Vs-Engine.aspx">What is the difference between a game framework and a game engine?</a>
              </li>
              <li>
                <i class="fas fa-cube"></i>
                <a target="_blank" title="Gamasutra article on getting started with game programming" href="https://www.gamasutra.com/view/news/332251/How_to_get_started_with_game_programming.php">How to get started with game programming</a>
              </li>
            </ul>
          </aside>
        </div>

      </div>
    </section>

    <section class="section has-background-light">
      <div class="container">

        <div class="tile is-ancestor">
          <div class="tile is-parent">
            <div class="tile is-child">
              <h2 class="title is-size-3">Quest Board</h2>
              <p class="is-size-5 text-justify">
                Tutorials
                <i class="fas fa-book"></i>
                and side quests will update regularly, so be sure to check back often. The source code
                <i class="fab fa-git-alt"></i>
                is also available.</p>
            </div>
          </div>
        </div>

        {% import "macros/quest-card.njk" as quest %}

        <div class="tile is-ancestor">

          {{ quest.createQuestCard(
            'Text Adventure',
            'WIP: Will Be Ready Soon',
            'https://quest-for-game-dev.gitlab.io/quest-text-adventure-tutorial/-/tree/master/source',
            'https://gitlab.com/quest-for-game-dev/quest-text-adventure-tutorial',
             1)
          }}

          {{ quest.createQuestCard(
            'Pong',
            'WIP: Will Be Ready Soon',
            'https://gitlab.com/quest-for-game-dev/quest-pong-tutorial/-/tree/master/source',
            'https://quest-for-game-dev.gitlab.io/quest-pong-tutorial',
             1)
          }}

          {{ quest.createQuestCard(
            'Breakout',
            'WIP: Coming Soon',
            '',
            '',
             2, false)
          }}

        </div>

        <div class="tile is-ancestor">

          {{ quest.createQuestCard(
            'Space Invaders',
            'WIP: Coming Soon',
            '',
            '',
             2, false)
          }}

          {{ quest.createQuestCard(
            'Tetris',
            'WIP: Coming Soon',
            '',
            '',
             3, false)
          }}

          {{ quest.createQuestCard(
            'Asteroids',
            'WIP: Coming Soon',
            '',
            '',
             3, false)
          }}

        </div>

        <div class="tile is-ancestor">

          {{ quest.createQuestCard(
            'Pac-Man',
            'WIP: Coming Soon',
            '',
            '',
             4, false)
          }}

          {{ quest.createQuestCard(
            'Top-Down Shooter',
            'WIP: Coming Soon',
            '',
            '',
             4, false)
          }}

          {{ quest.createQuestCard(
            'Platformer',
            'WIP: Coming Soon',
            '',
            '',
             4, false)
          }}

        </div>

        <div class="tile is-ancestor">

          {{ quest.createQuestCard(
            'RPG',
            'WIP: Coming Soon',
            '',
            '',
             5, false)
          }}

          {{ quest.createEmptyCard() }}

          {{ quest.createEmptyCard() }}

        </div>

      </div>
    </section>

    <section class="section">
      <div class="container">

        <div class="columns is-variable is-centered">

          <div class="column notification has-background-white is-4">
            <article class="media">
              <figure class="media-left">
                <span class="icon has-text-danger">
                  <i class="fas fa-lg fa-code"></i>
                </span>
              </figure>
              <div class="media-content">
                <div class="content">
                  <h3 class="title is-size-4">100% Open Source</h3>
                  <p class="is-size-5">
                    All the source code for each of these games, their tutorials and even this site, are freely available on GitLab.
                  </p>
                </div>
              </div>
            </article>
          </div>

          <div class="column notification has-background-white is-4">
            <article class="media">
              <figure class="media-left">
                <span class="icon has-text-danger">
                  <i class="fas fa-lg fa-link"></i>
                </span>
              </figure>
              <div class="media-content">
                <div class="">
                  <h3 class="title is-size-4">Links and Resources</h3>
                  <ul class="is-size-5">
                    <li>
                      <i class="fas fa-dice-d20"></i>
                      <a href="resources.html" title="Learn more about game development">Game Development Resources</a>
                    </li>
                    <li>
                      <i class="fas fa-user-circle"></i>
                      <a href="http://indiesagtewerke.com" title="Indie Sagtewerke Game Dev Studio">Indie Sagtewerke</a>
                    </li>
                    <li>
                      <i class="fab fa-gitlab"></i>
                      <a href="https://gitlab.com/quintin.henn/quest-for-game-dev" title="Have a look at the source code">Quest for Game Dev on GitLab</a>
                    </li>
                  </ul>
                </div>
              </div>
            </article>
          </div>
        </div>

      </div>
    </section>

  </main>
{% endblock %}