{% extends "_layout.njk" %}

{% block title %}
  <title>{{ resource.title }}</title>
  <meta name="description" content="{{ resource.description }}">
{% endblock %}

{% block content %}

<main id="page-content">

  <section class="section">
    <div class="container">
      <h2 class="title">Game Development Resources</h2>
      <h3 class="subtitle">Stay awhile and listen</h3>

      <article class="panel is-info">
        <p class="panel-heading">Game News and Articles</p>
        <div class="panel-block">
          <p>You can find great game devlopment related news, tools, learning resources and tutorials on
            <i class="fas fa-external-link-alt" aria-hidden="true"></i>
            <a target="_blank" href="https://devga.me/">Dev Game</a> and <i class="fas fa-external-link-alt" aria-hidden="true"></i>
            <a target="_blank" href="https://www.gamefromscratch.com/">Game from Scratch</a>
          </p>
        </div>
      </article>

    </div>
  </section>

  {% import "macros/resource-panel.njk" as resourceLinks %}

  <section class="section">
    <div class="container">
      <h2 class="title">Game Development Tools</h2>

      {% for linkSetContent in resource.content %}
      {{ resourceLinks.createResourcePanel(linkSetContent) }}
      {% endfor %}

    </div>
  </section>

  <section class="section">
    <div class="container">
      <h2 class="title">Designing Arcade Computer Game Graphics</h2>
        This is a <a target="_blank" href="https://www.widgetworx.com/book/">free downloadable book</a> about designing game artwork.
        The author, Ari Feldman, also created <a href="https://www.widgetworx.com/projects/sl.html">SpriteLib</a> a collection of free arcade game graphics.
    </div>
  </section>

  <section class="section">
    <div class="container">
      <h2 class="title">Game Development Extras</h2>
      <ul>
        <li>
          <i class="fas fa-external-link-alt" aria-hidden="true"></i> <a target="_blank" href="https://gameanalytics.com/">GameAnalytics</a> -- free industry-leading analytics in you games.
        </li>
        <li>
          <i class="fas fa-external-link-alt" aria-hidden="true"></i> <a target="_blank" href="https://gameprogrammingpatterns.com/">Game Programming Patterns</a> -- a collection of patterns found in games free on the web.
        </li>
      </ul>
    </div>
  </section>

</main>

{% endblock %}