{% macro createQuestCard(name, description, siteUrl, sourceUrl, starCount, enableLinks=true) %}

<div class="tile is-parent">
  <article class="tile is-child card">
    <div class="card-header">
      <h3 class="card-header-title is-size-4">{{ name }}</h3>
      <div class="card-header-icon is-size-6 has-text-grey-light">
        {% for i in range(0, starCount) %}
        <i class="fas fa-star" aria-hidden="true"></i>
        {% endfor %}
      </div>
    </div>
    <div class="card-content">
      <p class="is-size-5">{{ description }}</p>
    </div>
    <footer class="card-footer">
      <div class="card-footer-item" title="Follow the Tutorial">
        {% if enableLinks %}
        <a target="_blank" class="has-text-info" href="{{ siteUrl }}">
          <i class="fas fa-2x fa-book" aria-hidden="true"></i>
        </a>
        {% else %}
        <i class="fas fa-2x fa-book" aria-hidden="true"></i>
        {% endif %}
      </div>
      <div class="card-footer-item" title="View the Source Code">
        {% if enableLinks %}
        <a target="_blank" class="has-text-info" href="{{ sourceUrl }}">
          <i class="fab fa-2x fa-git-alt" aria-hidden="true"></i>
        </a>
        {% else %}
        <i class="fab fa-2x fa-git-alt" aria-hidden="true"></i>
        {% endif %}
      </div>
    </footer>
  </article>
</div>

{% endmacro %}

{% macro createEmptyCard() %}

<div class="tile is-parent is-hidden-mobile">
  <article class="tile is-child card"></article>
</div>

{% endmacro %}