{% macro createResourcePanel(content) %}

<article class="panel is-info">
  <p class="panel-heading">{{ content.title }}</p>
  <div class="panel-block">
    <ul>
      {% for link in content.links %}
      <li>
        <i class="fas fa-external-link-alt" aria-hidden="true"></i> <a target="_blank" href="{{ link.url }}">{{ link.name }}</a> -- {{ link.description }}.
      </li>
      {% endfor %}
    </ul>
  </div>
</article>

{% endmacro %}