{% block footer %}
  <footer id="page-footer" class="footer has-background-light">
    <div class="content has-text-centered">
      <p>
        <strong>Game Dev Quest</strong> by
        <a href="https://skerwe.web.za" title="Knight-Errant Quintin 'Skerwe' Henn">Quintin Henn</a>. The source code is licensed
        <a href="http://opensource.org/licenses/mit-license.php" title="MIT License">MIT</a>. The website content is licensed
        <a href="http://creativecommons.org/licenses/by-nc-sa/4.0/" title="Attribution-NonCommercial-ShareAlike License">CC BY NC SA 4.0</a>
      </p>
    </div>
  </footer>
{% endblock %}