{% block header %}
  <header id="page-header" class="hero is-medium has-background-black">

    <div class="hero-head">

      <nav class="navbar is-fixed-top is-transparent has-background-black" role="navigation" aria-label="main navigation">
        <div class="container">
          <div class="navbar-brand">
            <a class="navbar-item has-text-white" href="/" title="So You Want to Be a Hero">Quest for Game Dev</a>
            <span class="navbar-burger burger" role="button" aria-label="menu" aria-expanded="false" data-target="navbarMenu">
              <span></span>
              <span></span>
              <span></span>
            </span>
          </div>
          <div class="navbar-menu" id="navbarMenu">
            <div class="navbar-end">
              <a class="navbar-item" id="resources-page-link" href="resources.html" title="Learn more about game development">
                <span class="icon">
                  <i class="fas fa-dice-d20" aria-hidden="true"></i>
                </span>
                <span>Resources</span>
              </a>
              <a class="navbar-item" target="_blank" href="https://gitlab.com/QuintinHenn/quest-for-game-dev" title="Have a look at this site's source code">
                <span class="icon">
                  <i class="fab fa-gitlab" aria-hidden="true"></i>
                </span>
                <span>GitLab</span>
              </a>
            </div>
          </div>
        </div>
      </nav>
    </div>

    <div class="hero-body">
      <div class="container">
        <h1 class="title is-size-1-tablet has-text-white">
          Quest for Game Dev
        </h1>
        <h2 class="subtitle">
          So You Want to Be a Hero
        </h2>
      </div>
    </div>
  </header>
{% endblock %}